# Gradle / IDE
.gradle/
.idea/
*.iml
local.properties
build/
app/build/
captures/
*.apk
!release/*.apk

# OS
.DS_Store
Thumbs.db

# NDK build intermediates
native/nexus_su/obj/
native/nexus_su/libs/
local.properties
